<div class=" min-w-[400px] my-4  rounded-lg shadow-[0px_0px_6px_6px_rgba(0,_0,_0,_0.1)] shadow-gray-100 p-4">
      <h3 class="mb-4 text-2xl font-medium">{{edition.survey.title}} Survey</h3>
      
            <div class="flex justify-end gap-1">
                  <button (click)="setIsAdd()"  class=" text-sm text-primary rounded-sm ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
                              </svg>
                  </button>

                  @if (subchapterId) {
                        <button (click)="deleteChapter()">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                        </button>
                  }

            </div>
      
      @if (isAdd) {
            <div class="pl-4 flex items-center gap-1 justify-between bg-gray-100 rounded-md mt-2 mb-4 overflow-hidden">
                  <input type="text" required="true" placeholder="Enter title..." class="bg-transparent border-none outline-none py-2 flex-1" [(ngModel)]="newChapter.title">
                  <button (click)="addChapter()" class="text-white px-2 py-1.5 bg-primary uppercase">
                     sumbit
                  </button>
            </div>
      }

          @for (chapter of edition.chapters; track chapter.id ) {
              <!-- Chapters Sections  -->
              <app-chapter-tree [chapter]="chapter" (sendSelectedId)="recieveSubchapterIdFromCheckbox($event)"  (sendSubchapterId)="recieveSubchapterId($event)" (sendSubchapter)="recieveAndResendSubchapter($event)"></app-chapter-tree>
          }

          <app-toast [isError]="hasError" [message]="errorMessage"></app-toast>
</div>

