<div class="relative">
      <app-header [navlinks]="navlinks"></app-header>
      <div class="relative bg-emerald-50 h-[94vh]">
            <div class="absolute inset-x-0 top-0 lg:-top-14 bottom-0 lg:-bottom-14 overflow-hidden bg-emerald-50">
                   <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div> 
                   <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
                   </div>
            <router-outlet></router-outlet>
</div>
</div>
