<nav class="flex items-center justify-between w-[70%] h-full  mx-auto">
      <app-logo [ngClass]="'text-2xl'"></app-logo>
    <div>
      <ul class="h-full flex items-center bg-transparent gap-4">
            @for(navlink of navlinks; track navlink ) {
                  <li >
                        <a [routerLink]="[navlink.path]" class="py-1" routerLinkActive="border-b-2 border-dashed text-emerald-600 border-emerald-600 border-black/90" >{{navlink.label}}</a>
                  </li>
            }
      </ul>
    </div>
</nav>
