

<main class="flex">
    @if (isQuestions) {
      <div class=" min-w-[240px]  pr-4">
        <h3 class="my-4 text-2xl font-medium">{{edition.survey.title}} Survey</h3>
        <ul class="tree">
            @for (chapter of edition.chapters; track chapter.id ) {
                <!-- Chapters Sections  -->
                <li>
                    <details open>
                      <summary >{{ chapter.title}}</summary>
                      <ul>
                        @for (sub of chapter.subchapters; track sub.id) {
                            <li>
                                <details>
                                  <summary >{{sub.title}}</summary>
                                  <ul>
                                    @if (sub.questions.length > 0) {
                                        <li>
                                            <button (click)="findAllQuestions(sub.id)" class="py-1 rounded-lg px-2 bg-primary text-primary-content">
                                                 View Questions
                                            </button>
                                        </li>
                                    }
                                  </ul>
                                </details>
                            </li>
                        }
                      </ul>
                    </details>
                  </li>
            }
            
           </ul>
      </div>
      <app-questions-table (questionChange)="updateQuestion($event)" (onChangeIsQuestion)="toggleIsQuestions()" [subchapter]="currentSubchapter"/>
    }@else {
      <app-answer-table (onChangeIsQuestion)="toggleIsQuestions()" [question]="currentQuestion"></app-answer-table>
    }

</main>