<div class="relative bg-emerald-50 h-[94vh]">
  <div class="absolute inset-x-0 top-0 lg:-top-14 bottom-0 lg:-bottom-14 overflow-hidden bg-emerald-50">
    <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div>
    <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
  </div>
  <div class="max-w-[50%] relative mx-auto pt-80">
    <div class="mx-auto text-center max-w-[700px]">
      <h1 class="text-6xl tracking-widest">Survey IT</h1>
      <p class="text-gray-700/90 text-balance leading-[1.5] mt-5 text-lg">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laboriosam corrupti voluptate veniam unde assumenda. Facere voluptates nostrum distinctio
        magnam dolorem ducimus consequatur, quod vitae iusto quo cum aliquid quas quibusdam assumenda provident</p>
    </div>
  </div>
</div>

