<div class="flex items-center w-full justify-center">
      <div class="flex my-80 items-end gap-4">
            <app-select [editions]="editions"  (sendEditionId)="recieveEditionId($event)"></app-select>
            @if (!selectId) {
                  <button disabled  class="text-gray-200 bg-gray-400 text-md font-semibold transition-colors duration-400 cursor-not-allowed relative h-[42px] flex items-center px-6 rounded-md  mb-2">
                        <span>Start</span>
                  </button>
            }@else {
                  <button [routerLink]="['start/'+selectId]"    class="text-white bg-primary hover:bg-emerald-500 text-md font-semibold transition-colors duration-400 cursor-pointer relative h-[42px] flex items-center px-6 rounded-md  mb-2">
                        <span>Start</span>
                  </button>
            }

      </div>
</div>